*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #88BEF5;
}
.inner__container{
    background-color:blueviolet;
    width: 60%;
    height: fit-content;
    text-align: center;
    border-radius: 20px;
    box-shadow:0 0 5px 5px black;
}
.inner__container ul{
    list-style: none;
    margin-top: 30px;
}
.btn{
    display: grid;
    place-items: center;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color:transparent;
}
.btn button,.hide button{
    width: 20vw;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    background-color: lightgreen;
}
.inner__container ul li{
    padding: 10px 20px 20px 20px;
    display: flex;   
}
.ans{
    padding: 10px;
    background-color: white;
    width: 100%;
    text-align: justify;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
}
.choose:hover,.ans:hover{
    transition: transform 150ms;
}
.hide{
    display: none;
}
li button:hover{
    background-color: cadetblue;
    box-shadow: 0 0.4rem 1.4rem 0 white;
    border-radius: 20px;
}